
body {
	font-family: Monospace;
	background-color: #ffffff;
	color: #fff;
	margin: 0px;
}
#info {
	color: #fff;
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
}
#info a, .button { color: #f00; font-weight: bold; text-decoration: underline; cursor: pointer }

.box {
	font:10px sans-serif;
}

.box text {
	fill:black;
}

.box line,.box rect,.box circle {
	fill:#4682b4;
	stroke:black;
	stroke-width:1px;
}

.box .center {
	stroke-dasharray:3,3;
	fill:black;
	stroke:black;
}

.box .outlier {
	fill:none;
	stroke:black;
}

.axis {
	font:12px sans-serif;
}

.axis path,.axis line {
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}

.x.axis path {
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}

#header_n_label {
	float: left;
	left: 0px;
	margin: auto;
	text-align: center;
	color: black;
}


#nav_label {
	background-color:#ffffff;
	opacity:0.5;
	padding:10px;
	text-align:left;
	color:black;
}

#nav-brain {
	float: right;
	width: 1600px;
	height: 1400px;
	margin: 15px;
	background-color: #ffffff;
	padding: 5px;
	border-radius: 25px;
	opacity: 2.25;
}

#plot-canvas {
	float: left;
	border: 2px solid #333;
	width: 300px;
	height: 200px;
	padding: 10px;
	margin: 30px 50px 70px 50px;
	background-color: #ffffff;
	border-radius: 12px;
}

#demo-links {
	float: right;
	margin: 10px auto 10px auto;
	text-align: right;
}

#left-container{
	width: 600px;
	float: right;
}

#selector {
	width: 600px;
	margin: 0px;
	background-color: green;
}
#selector span {
    width: 100px;
    float: left;
}
#selector.selection-label{
    width: 75px;
    font-family: arial;
    float:left;
}
#selector input {
    margin: 3px 10px 0px 10px;
    float: left;
}
#selector div {
	width: 400px;
	overflow: hidden;
}
