<!--
Design:
	+ brain.js : service for showing a clickable, colored brain.
	+ navigator.js : controller for the brain navigator
	  => depends on brain.js
	+ plotter.js : controller for the plotting
	  => must be told what function to use to plot, in the constructor.
	  => function may depend on brain.js, but controller does NOT
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Brain Navigator | Roy G. BIV</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/style.css" />

		<script src="js/libs/three.min.js"></script>
		<script src="js/libs/Projector.js"></script>
		<script src="js/libs/Detector.js"></script>
		<script src="js/libs/TrackballControls.js"></script>
		<script src="js/libs/VTKLoader.js"></script>
		<script src="js/libs/jquery.min.js"></script>
		<script src="js/libs/d3.min.js"></script>
		<script src="js/libs/box.js"></script>
		<script src="js/libs/angular.min.js"></script>

		<script src="js/brain.js"></script>
		<script src="js/hemiplot.js"></script>
	</head>

	<body ng-app="navigator" ng-strict-di>
		<div ng-controller="NavigateController">
			<div id="header_n_label">
				<h1>ROYGBIV</h1>
				<div id="nav_label">
					Shift+click on a label to highlight the area in the RH.
					<br />
					<br />
					Selected Label:
					<span ng-if="mesh.name">{{ mesh.name }}</span>
					<span ng-if="mesh">
						{{ mesh.value.0 * 100 | number: 2 }}%
					</span>
				</div>
				<div id="plot-canvas">
				</div>
			</div>
            <div id="left-container">
    			<div id="demo-links">other demos: <a href="index.html">Box plot</a></div>
                <div id="selector">
                    <div>
                        <span class="selection-label">Surface:</span>
                        <input ng-model='metadata.surf_type' type="radio" name="surf_type" value="pial"></input><span>Pial</span>
                        <input ng-model='metadata.surf_type' type="radio" name="surf_type" value="inflated" {% if $scope.mesh %}checked{% endif %}><span>Inflated</span>
                    </div>
                    <div>
                        <span class="selection-label">Atlas:</span>
                        <input ng-model='metadata.atlas' type="radio" name="atlas" value="desikan"></input><span>Desikan<br/>(36 ROIs)</span>
                        <input ng-model='metadata.atlas' type="radio" name="atlas" value="destrieux"></input><span>Destrieux<br/>(76 ROIs)</span>
                    </div>
                    <div>
                        <span class="selection-label">Measure:</span>
                        <input ng-model='metadata.measure' type="radio" name="measure" value="thickness"></input><span>Thickness</span>
                        <input ng-model='metadata.measure' type="radio" name="measure" value="area"><span>Surface area</span>
                    </div>
                </div>
    			<div id="nav-brain">
    			</div>
    		</div>
        </div>
		<script>
            var prefixes = {
                desikan: { area: 'MRI_cort_area.ctx.', thickness: 'MRI_cort_thick.ctx.'},
                destrieux: { area: 'Destrieux_area.', thickness: 'Destrieux_thickness.'}
            }

            function prefix2measure(prefix) {
                for (var ai in prefixes) {
                    for (var mi in prefixes[ai]) {
                        if (prefixes[ai][mi] == prefix)
                            return mi
                    }
                }
            }

            function measure2prefix(measure, atlas) {
                return prefixes[atlas][measure]
            }


            var app = angular.module('navigator', []);
			app.controller('NavigateController', ['$scope', function($scope) {
				// Object bound to the form. We "watch" this object below.
                var url_parts = document.location.pathname.split('/');
                var prefix_idx = url_parts.length - 2;
				$scope.metadata = {
                    subject: url_parts[prefix_idx - 3] || 'fsaverage',
                    atlas: url_parts[prefix_idx - 2] || 'destrieux',
					surf_type: url_parts[prefix_idx - 1] || 'pial',
					prefix: url_parts[prefix_idx] || 'Destrieux_area.',
                    measure: prefix2measure(url_parts[prefix_idx]  || 'Destrieux_area.')
				};
				$scope.manifest_url = 'data/lh_files_to_load.json';

				// Create the right hemi brain
				$scope.stats_brain = null;

				// Create the "brain" for navigation
                $scope.nav_brain = new Brain({
                    divID: "nav-brain",
                    manifest: $scope.manifest_url,
                    callback: function(mesh) {
                    	$scope.mesh = mesh;
                        $scope.$apply();
                        if (mesh) {
                        	// On click, select the same mesh in the "stats" brain.
                        	if (!$scope.stats_brain)
	                        	$scope.stats_brain = new Brain({
	                        		divID: "plot-canvas",
	                        		manifest: $scope.manifest_url.replace('lh', 'rh')
	                        	});
							var stats_mesh = $scope.stats_brain.selectMeshByName(mesh.name);
							$scope.stats_brain.objectPick(stats_mesh);
                        }
                    }
                });
                window.brain = $scope.nav_brain;

                // Use the relatively new watchCollection().
                $scope.$watchCollection("metadata", function( newValue, oldValue ) {
					$scope.metadata.prefix = measure2prefix(newValue.measure, newValue.atlas);
					var base_url = 'http://127.0.0.1:5000/' + $scope.metadata.subject + '/'
								    + $scope.metadata.atlas + '/' + $scope.metadata.surf_type + '/'
								    + $scope.metadata.prefix + '/';
					var manifest_url = base_url + 'data/lh_files_to_load.json';

					if (manifest_url != $scope.manifest_url) {
						$scope.manifest_url = manifest_url;

						// Update the brains
						if ($scope.nav_brain)
							$scope.nav_brain.loadBrain($scope.manifest_url);
						if ($scope.stats_brain)
							$scope.stats_brain.loadBrain($scope.manifest_url.replace('lh', 'rh'));
					}
				});
			}]);
		</script>
	</body>
</html>
